body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
main {
  height: 90vh;
  overflow: auto;
}
header > div {
  display: flex;
  align-items: center;
}
header h5 {
  margin-bottom: 0;
}
header button,
.batch-components button {
  margin-left: 1em;
  margin-right: 1em;
  background-color: transparent;
  border: 1px solid #666;
  border-radius: 1em;
  padding: 0.3em 1em;
}
.app-container {
  text-align: center;
}

.header-container {
  align-items: center;
  min-height: 120px;
  background-color: white;
  width: 100vw;
}

.home-page {
  background-color: white;
}

#logo-image {
  width: 200px;
}

.account-link {
  color: #6d74b0;
}

.form-link {
  cursor: pointer;
}

#request-button {
  background-color: #b9bee4;
  border-color: #ffffff;
  margin-top: 20px;
}

#request-button:hover {
  background-color: #99a2e2;
  border-color: #ffffff;
}

#back-button:hover {
  background-color: #99a2e2;
  border-color: #ffffff;
}

#back-button {
  background-color: #b9bee4;
  border-color: #ffffff;
}

.button-checks {
  background-color: #b9bee4;
  border-color: #ffffff;
}

.button-checks:hover {
  background-color: #99a2e2;
  border-color: #ffffff;
}

.button-checks:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #99a2e2;
  border-color: #ffffff;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1.2em;
  font-weight: 500;
  width: 150px;
  height: 40px;
  padding: 6px;
  color: white;
  background-color: #b9bee4;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #99a2e2;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.links-group {
  width: 100%;
}

.links-group a {
  background-color: #dde0f7;
  border-color: #bfc5f5;
  text-decoration: none;
  text-align: center;
}

.drag-and-drop {
  border: 3px dashed #68f;
  padding: 3em;
  margin: 2em;
  min-width: 50vw;
  position: relative;
  border-radius: 1em;
}
.drag-and-drop.active {
  background-color: #ddd;
}
.drag-and-drop img {
  width: 15%;
}
.batch-components {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.batch-components table {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  border: 1px solid #ccc;
  max-width: 80%;
  margin-left: 10%;
}
.batch-components td,
.batch-components th {
  border: 1px solid #ccc;
}
